
* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    margine: 0;
}

.header {
  background-color: gray; 
  padding: 20px;
  text-align: center; 
}

.topnav {
  overflow: hidden;
  background-color: black;  
}
.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}
.topnav a:hover{
  background-color: #ddd;
  color: green;  
}
.column . side{
    
}